body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: #080b1a;
  color: white;
}

.container {
  max-width: 420px;
  margin: 0 auto;
  text-align: center;
  padding: 30px 20px;
}

.logo-circle {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  padding: 8px;
  margin: 0 auto 20px;
  background: #ffcc00;
}

.logo-circle img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}

.vip {
  font-size: 20px;
  font-weight: 700;
}

.bono {
  font-size: 32px;
  font-weight: 800;
  color: #ffcc33;
  margin: 15px 0;
  line-height: 1.1;
}

.retiros {
  font-size: 28px;
  color: #0aff6b;
  font-weight: 800;
  margin-bottom: 20px;
}

.sub {
  color: rgba(255,255,255,0.8);
  font-weight: 600;
  margin-bottom: 25px;
}

.btn {
  display: inline-block;
  padding: 18px 25px;
  background: #14d86c;
  color: white;
  font-size: 20px;
  font-weight: 800;
  border-radius: 40px;
  text-decoration: none;
  width: 90%;
  max-width: 350px;
  box-shadow: 0 0 25px rgba(20,216,108,0.5);
  transition: 0.2s;
}

.btn:hover {
  transform: scale(1.05);
}
